.content {
    margin-top: 51px;
    padding-top: 10px;
	min-height: calc(100vh - 101px);
}

.ui-menu {
    z-index: 1050;
}

.open12 {
    display: block;
}

.closed {
    display: none;
}

        
li img {
    vertical-align: middle;
}

ul {
    list-style-type: none;
}

.open {
    font-size: 23px;
}
