
@{
    ViewBag.Title = "Knowledges";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<ul class="open">
    <li id="item1"><a  onclick="toggle('item1');"><span id="img_item1" class="glyphicon glyphicon-menu-down"></span></a>Item 1
        <ul id="ul_item1" class="closed">
            <li id="item1_1">Item 1.1</li>
            <li id="item1_2">Item 1.2</li>
        </ul>
    </li>
    <li id="item2">
        <a onclick="toggle('item2');">
            <span id="img_item2" class="glyphicon glyphicon-menu-down"></span>
        </a>Item 2
        <ul id="ul_item2" class="closed">
            <li id="item2_1">
                <a onclick="toggle('item2_1');">
                    <span id="img_item2_1" class="glyphicon glyphicon-menu-down"></span>
                </a>Item 2.1
                <ul id="ul_item2_1" class="closed">
                    <li id="item2_1_1">Item 2.1.1</li>
                    <li id="item2_1_2">
                        <a onclick="toggle('item2_1_2');">
                            <span id="img_item2_1_2" class="glyphicon glyphicon-menu-down"></span>
                        </a>Item 2.1.2

                        <ul id="ul_item2_1_2" class="closed">
                            <li id="item2_1_2_1">Item 2.1.2.1</li>
                            <li id="item2_1_2_2">Item 2.1.2.2</li>
                        </ul>


                    </li>
                    <li id="item2_2_3">Item 2.1.3</li>
                </ul>
            </li>
            <li id="item2_2">Item 2.2</li>
        </ul>
    </li>
    <li id="item3">
        <a onclick="toggle('item3');">
            <span id="img_item3" class="glyphicon glyphicon-menu-down"></span>
        </a>Item 3
        <ul id="ul_item3" class="closed">
            <li id="item3_1">Item 3.1</li>
            <li id="item3_2">Item 3.2</li>
            <li id="item3_3">Item 3.3</li>
            <li id="item3_4">Item 3.4</li>
            <li id="item3_5">Item 3.5</li>
        </ul>
    </li>
</ul> 

